@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');


/*
*   font-family: 'Raleway', sans-serif;
*/
html{
    max-height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F5EF;
}
.a_decoration_none:link{
    text-decoration: none;
}
.a_decoration_none{
    color: #030303;
}
.max_vyska{
    height: calc(100vh - 100px) ;
}
.open_menu{
    display: none;
}
.wrapper_logo_img a{
    width: 200px;
}
.wrapper_logo_img{
    max-width: 250px;
    min-width: 15%;
}

.logo_img{
    min-width: 100%;
    max-width: 100%;
}
.header{
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #F8F5EF;
    border-color: #030303;
    border-style: solid;
    border-width: 0 0 3px 0;   
    width: 100%;
    /*
    rgba(189, 222, 0, 1)
    */
}
.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 10%;
}
.header_flex ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_flex li {
    margin-left: 22px;
    margin-right: 22px;

}
.header_flex li a {
    font-size: 18px;
    color: #030303;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}
.header_flex li:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.header_menu_text{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
*               SECTION 1 index
*/
.button_hover:hover {
    background-color: rgba(189, 222, 0, 0.5);
    transition: 0.2s;
}

.section1.header_background_foto_index{
    background-image: url("../img/header_background_foto.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: 50% 50%;
    margin-top: 100px;
}
.section1.header_background_foto_aplikace{
    background-image: url("../img/header_background_foto.jpg");
    background-size: cover;
    min-height: 60vh;
    background-position: 50% 50%;
    margin-top: 100px;
}
.section1.header_background_foto_spoluprace{
    background-image: url("../img/header_background_foto.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: 50% 50%;
    margin-top: 100px;
}
.section1.header_background_foto_blog{
    background-image: url("../img/header_background_foto.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: 50% 50%;
    margin-top: 100px;
    margin-bottom: 50px;;
}
.header_foreground_text{
    background: rgba(26, 36, 39, 0.32);
    min-height: 50vh;
    width: 55%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.wrapper_green_line_h1{
    flex: 1;
    margin-left: 15%;
    margin-top: 50px;
}
.header_green_line{
    width: 136px;
    height: 10px;
    background-color: #BDDE00;
}
.header_foreground_text h1{
    font-size: 76px;
    font-weight: 900;
    line-height: 83px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 50px;
}
.header_foreground_text h1 span{
    color: #BDDE00;
}
.header_button{
    margin-left: 15%;
    width: 256px;
    height: 58px;
    background: #BDDE00;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.header_foreground_text p{
    color: #FFFFFF;
    margin-left: 105px;
    margin-top: 210px;
}

/*
*              section2
*/

.kdo_jsme h2{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 600;
    margin: 0;
}
.kdo_jsme_paragraph_one{
    padding-bottom: 30px;
    font-size: 18px; 
    line-height: 26px;
    font-weight: 400;
}
.kdo_jsme_paragraph_two{
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 26px;
}


/*
*              section3
*/
.folder_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    row-gap: 50px;
    column-gap: 50px;
    align-items: normal;
}
.item_wrapper{
    width: 30%;

}
.item_wrapper_background{
    background-color: rgba(189, 222, 0, 0.55);
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.item_wrapper_background:hover{
    background-color: rgba(189, 222, 0, 0.8);
    scale: 1.1;
}
.item_wrapper_foto{
    height: 200px;
    overflow: hidden;
}
.item_wrapper_foto img{
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}
.item_wrapper_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_wrapper h2{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    
}
.item_wrapper_background p{
    margin: 0px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}
.item_wrapper_background a h3{
    color: #BC9B5D;
    font-size: 15px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*
*              APLIKACE
*/
.wrapper_header_background_foto{
    display: flex;
    justify-content: space-between;
}
.wrapper_intro_foto{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item_intro_foto1{
    display: flex;
    justify-content: center;
}
.item_intro_foto1_img{
    height: 100%;
}
.item_intro_foto2{
    display: flex;
}
.section2_small_device{
    display: none;
    height: 1px;
    width: 0px;
    margin: 0;
}

/*
*             
*/
.section1_aplikace{
    padding-top: 50px;
}
.swiper-pagination{
    position: relative;
    top: 15px;
    bottom: 0 !important;
}
.swiper-pagination-bullet-active{
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-color: #BDDE00;
}
.swiper {
    height: 800px;
    z-index: 0;
}
.controls{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 425px;
    z-index: 10;
   /* max-width: calc(100vw - 300px);*/
}
.prev img{
    width: 50px;
}
.next img{
    width: 50px;
}

.button_after_swiper{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}
.button_after_swiper img{
 width: 100%;
}

/*
*** swiper slide 1
*/
.swiper-slide{
    width: 100% !important;
}

.swiper-slide_uvod_foto {
    display: flex;
    justify-content: center;
}
.swiper-slide_uvod_foto img{
    max-width: 100%;
    max-height: 100%;
    
}
/*
*** swiper slide 2
*/
.slide_celek2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.slide_celek2_nadpis{
    width: 25%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end
}
.slide_celek2_nadpis h2{
    white-space: nowrap;
    font-size: 65px;
    line-height: 80px;
    
}
.slide_celek2_img {
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    display: flex;
    justify-content: center
}
.slide2_text{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.slide_celek2 h2 span{
    color: #BDDE00;
}
.slide2_text h3{
    white-space: nowrap;
    font-size: 28px;
    color: #BDDE00;
}
.slide2_text p{
    white-space: nowrap;
    font-size: 20px;
}
.slide2_text1{
    margin-bottom: 30px;
}

/*
*** swiper slide 3
*/
.slide_celek3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.slide3_text{
    width: fit-content;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}
.slide3_text_nadpis h2{
    white-space: nowrap;
    font-size: 65px;
    line-height: 80px;
}
.slide3_text h3{
    white-space: nowrap;
    font-size: 28px;
    color: #BDDE00;
}
.slide3_text p{
    white-space: nowrap;
    font-size: 20px;
}

.slide_celek3_img {
    width: 32%;
    display: flex;
    justify-content: center
}


/*
*** swiper slide 4
*/
.slide_celek4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.slide_celek4_img {
    width: 32%;
    display: flex;
    justify-content: center
}



.slide4_text{
    width: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}
.slide4_text_nadpis h2{
    white-space: nowrap;
    font-size: 100px;
    line-height: 140px;
}
.slide4_textp{
    background-color: #BDDE00;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
}
.slide4_textp p{
    white-space: nowrap;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
}





/*
*             Section5
*/
.Kontakt{
    display: flex;
    justify-content: center;
}
.Kontakt h2{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 600;
    margin: 0;
}
.wrapper_kontakt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.wrapper_kontakt img{
    height: 15px;
}
.wrapper_kontakt a{
    color: #030303;
}
.wrapper_kontakt a:hover{
    color: #BC9B5D;
    transition: 0.3;
}
.zakaznicka_podpora p{
    margin: 0px;
    margin-left: 6px;
    font-size: 18px;
    line-height: 26px
}
.obchodni_spoluprace p{
    margin: 0px;
    margin-left: 6px;
    font-size: 18px;
    line-height: 26px;
}
.PressProjekt img{
 height: 100%;
}
.sidlo{
    display: flex;
    justify-content: center;
}
.sidlo p{
    text-align: center;
    margin: 0;
    font-size: 18px;

}
.najdete_nas{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.najdete_nas h2{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
    margin: 0;
}
.najdete_nas p{
    font-size: 18px;
    letter-spacing: 1.2px;
}
.wrapper_soc{
    margin-top: 50px;
}
.item_soc a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item_soc:hover{
    scale: 1.2;
}
.item_soc img{
    width: 30%;
    margin-bottom: 10px;
}
.item_soc p{
    font-size: 18px;
}
/*
***    SPOLUPRÁCE     
*/

/*
***    SPOLUPRÁCE     SECTION 1 
*/
/*
***    SPOLUPRÁCE     SECTION 2 
*/

.h2_newText{
    white-space: nowrap;
    margin-left: 15%;
    font-size: 50px;
    margin-top: 50px;
}

#newText {
    color: #BDDE00;
}
.h2_newText_small_device{
    visibility: hidden;
    margin: 0;
    height: 0;

}
.wrapper_jste{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80%;
    padding-top: 30px;
}
.wrapper_jste h3{
    font-size: 40px;
    line-height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #BDDE00;
}
.wrapper_jste p{
    font-size: 17px;
    line-height: 26px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #726277;
}
.item_jste_text1{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.item_jste_img{
    width: 25%;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}
.item_jste_text2{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Jste_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.Jste_footer p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #726277;
}
.Jste_footer p a{
    color: #BDDE00;
    font-size: 18px;
}
.Jste_footer a button{
    width: 256px;
    height: 58px;
    border-radius: 7px;
    background-color: #BDDE00;
    color: #FFFFFF;
    font-size: 20px;
    font-style: 'Poppins';
    font-weight: 700;
    letter-spacing:1px;
    border: none;
}

/*
***      SPOLUPRÁCE        SECTION 3
*/
#newText2{
    color: #BDDE00;
}
#newText2_small_device{
    color: #BDDE00;
    visibility: hidden;
}
.napiseme_o_vas{
    margin-top: 4%;
    margin-bottom: 15px;
}
.wrapper_napiseme_o_vas p{
    text-align: center;
    font-size: 18px;
}
.wrapper_napiseme_o_vas a img{
    margin-top: 45px;
    margin-bottom: 45px;
}
.wrapper_napiseme_o_vas  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.wrapper_napiseme_o_vas a button{
    width: 256px;
    height: 58px;
    border-radius: 7px;
    background-color: #BDDE00;
    color: #FFFFFF;
    font-size: 20px;
    font-style: 'Poppins';
    font-weight: 700;
    letter-spacing:1px;
    border: none;
}
/*
***     SPOLUPRÁCE        SECTION 4
*/
.wrapper_marketing{
    background-color: rgba(218, 236, 97, 0.4);
}

.wrapper_marketing h2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.wrapper_marketing_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
}
.item_marketing_icon{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.item_marketing_icon img{
    margin-bottom: 30px;
    width: 100%;
}
.item_marketing_icon h4{
    font-size: 22px;
    line-height: 26px;
    min-height: 52px;
    max-height: 78px;
    text-align: center;
}
.item_marketing_icon p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.button_kontaktujte_nas{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.button_kontaktujte_nas button{
    width: 256px;
    height: 58px;
    border-radius: 7px;
    background-color: #BDDE00;
    color: #FFFFFF;
    font-size: 20px;
    font-style: 'Poppins';
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
}

/*
***         BLOG        SECTION 1
*/
.header_foreground_text_blog{
    width: 60%;
}
/*
***         BLOG        SECTION 2
*/
.blog_card_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    padding: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.blog_card_item::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0pc;
    width: 100%;
    height: 100%;
    background: #030303;
    opacity: 0.3;
}

.blog_card_item_top{
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog_card_wrapper a{
    text-decoration: none;
}
.blog_card_item_top p{
    color: #FFFFFF;
}
.blog_card_title{
    color: #FFFFFF;
    font-size: 26px;
}


/*
*              footer
*/

.footer p{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.footer_spoluprace{
    background-color: rgba(218, 236, 97, 0.4);
}

/*
***         VIP       SECTION 1
*/

/*
***         VIP       SECTION 2
*/
.vip{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.vip h2{
    margin: 0;
    width: 40%;
    font-size: 33px;
    line-height: 50px;
    text-align: center;
    font-weight: 600; 
    padding-top: 50px;
}
.vip button{
    width: 450px;
    height: 90px;
    border-radius: 20px;
    background-color: #323232;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}
.wrapper_vip_vyhody{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}
.item_vip_vyhody{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.item_vip_frame{
    height: 100px;
}
.item_vip_frame img{
    height: 100%;
}
.item_vip_vyhody p{
    width: 80%;
    text-align: center;
    margin-top: 15px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 19px;
}
.vip_cena{
    font-weight: 600;
    font-size: 19px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}
.odkazy_na_stazeni{
    display: flex;
    justify-content: center;
}