
@media only screen and (max-width:1200px){
.item_wrapper_background:hover{
    background-color: rgba(189, 222, 0, 0.55);
    scale: 1;
}


/*
***                                                           O NAS header
*/
.header_flex {
    padding-right: 2%;
}
/*
***                                                           O NAS SECTION 1
*/

/*
***                                                           O NAS SECTION 3
*/
.folder_wrapper {
    column-gap: 0px;
}
/*
***                                                           O NAS SECTION 4
*/

/*
***                                                          APLIKACE SECTION 1
*/
.wrapper_intro_foto {
    width: 50%;
    min-height: 660px;
}
.header_foreground_text {
    width: 50%;
}
.wrapper_green_line_h1 {
    margin-left: 10%;
}
.header_button {
    margin-left: 10%;
}
/*
***                                                       APLIKACE SECTION 2
*/
/*
***                                                    SLIDE 1
*/
.swiper-slide_uvod_foto {
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

/*
***                                                    SLIDE 2
*/
.slide_celek2_nadpis h2 {
    font-size: 55px;
}
.slide_celek2_img img{
    height: 90%;
}
/*
***                                                     SLIDE 3
*/

/*
***                                                     SLIDE 4
*/

/*
***                                                         SPOLUPRACE section1
*/
.header_foreground_text_spoluprace {
    width: 65%;
}
/*
***                                                         SPOLUPRACE section2
*/

/*
***                                                         SPOLUPRACE section3
*/

/*
***                                                         SPOLUPRACE section4
*/

/*
***                                                         BLOG section1
*/







}

@media only screen and (max-width:992px){
.open_menu{
    display: block;
    width: 40px;
}
.open_menu.opened {
    background-image: url("img/x_icon.svg");
}
.open_menu.opened img{
    opacity: 0.0;
}
ul.navmenu {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 0px;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    left: 0;
    background-color: #dbec62;
    height: calc(100vh - 98px);
    width: 100%;
    overflow: auto;
    padding-bottom: 30px;
}
ul.navmenu li {
    display: block;
    color: #070707; 
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 20px !important;
    background-color: #dbec62;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
}
ul.navmenu a {
    display: flex;
    justify-content: center;
    font-size: 26px ;
}
.wrapper_logo_img {
    max-width: 250px;
    min-width: 30%;
}


/*
***                                                      O NAS SECTION 1
*/
.header_foreground_text {
    width: 100%;
}
/*
***                                                      O NAS SECTION 3
*/
.folder_wrapper {
    column-gap: 50px;
}
.item_wrapper {
    width: 45%;
}
/*
***                                                      O NAS SECTION 4
*/
.item_soc img {
    width: 40%;
}
/*
***                                                      O NAS SECTION 5
*/

/*
***                                                      APLIKACE SECTION 1
*/
.wrapper_intro_foto{
    display: none;
}
.section1.header_background_foto_aplikace {
    min-height: 50vh;
}
/*
***                                                      SLIDE 2
*/
.slide_celek2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.slide_img_text12{
    display: flex;
    justify-content: space-around;
    height: 70%;
}
.slide_celek2_nadpis {
    height: 25%;
    width: 80%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.slide_celek2_nadpis h1 {
    white-space: normal;
    font-size: 65px;
    line-height: 80px;
    margin-bottom: 30px;
}
.slide_celek2_img img {
    height: 95%;
    margin-right: 5%;
}
.slide2_text {
    width: 45%;
    margin-left: 5%;
}
/*
***                                                      SLIDE 3
*/
.slide_celek3_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.slide_celek3_img img{
    margin-left: 20px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75%;
}
.slide3_text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    margin-right: 3%;
}.slide3_text_nadpis h1 {
    margin-top: 10%;
    width: 200%;
    white-space: normal;
    font-size: 65px;
    line-height: 80px;
    margin-bottom: 30px;
}
.slide3_text_podnadpis{
margin-bottom: 60%;
}
.slide3_text_podnadpis h2{
    width: 100%;
    white-space: normal;
}
.slide3_text_podnadpis p{
    width: 100%;
    white-space: normal;
}
/*
***                                                      SLIDE 4
*/
.slide_celek4_img {
    margin-right: 50px;
    margin-left: 50px;
}
.slide4_text_nadpis h1 {
    font-size: 65px;
    line-height: 80px;
}
.slide4_text {
    width: 50%;
}
.slide4_textp {
    background-color: #BDDE00;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    height: 27%;
    max-width: 90%;
    margin-bottom: 10%;
}
.slide4_textp p {
    white-space: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
    height: 100%;
}
/*
***                                                      SPOLUPRACE SECTION 1
*/

/*
***                                                      SPOLUPRACE SECTION 2
*/
.max_vyska{
    height: auto;
}
.h2_newText{
    display: none;
}
.h2_newText_small_device{
    visibility: visible;
    margin: 0;
    height: auto;
    margin-left: 5%;
    font-size: 50px;
    margin-top: 50px;
}
.h2_newText_small_device span{
    color: #BDDE00;
}
.item_jste_img {
    width: 35%;
}
/*
***                                                      SPOLUPRACE SECTION 3
*/
#newText2{
    display: none;
}
#newText2_small_device{
    visibility: visible;
}
/*
***                                                      SPOLUPRACE SECTION 4
*/

/*
***                                                      BLOG SECTION 1
*/
}

@media only screen and (max-width:768px){
.wrapper_logo_img {
    max-width: 35%;
    min-width: 200px;
}
.header_flex {
    height: 80px;
}
.header_menu_text {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
ul.navmenu {
    height: calc(100vh - 78px);
}
/*
***                                                     O NAS SECTION 1
*/
.section1.header_background_foto_index {
    margin-top: 80px;
}
/*
***                                                     O NAS SECTION 2
*/


/*
***                                                     O NAS SECTION 3
*/
.folder_wrapper {
    row-gap: 45px;
    column-gap: 50px;
    align-items: normal;
    justify-content: center;
}
.item_wrapper {
    width: 40%;
}
/*
***                                                     O NAS SECTION 4
*/
.Kontakt h2 {
    padding-bottom: 10px;
}
.wrapper_kontakt {
    flex-direction: column;
    align-items: center;
}
.obchodni_spoluprace{
    margin-top: 30px;
    margin-bottom: 30px;

}
.wrapper_soc {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
}
.item_soc{
    width: 40%;
    min-width: 105px;
}
.item_soc p {
    white-space: nowrap;
}
.item_soc img {
    width: 30%;
    min-width: 65px;
}
.PressProjekt img {
    max-width: 280px;
}
/*
***                                                      APLIKACE SECTION 1
*/
.section1.header_background_foto_aplikace {
    min-height: 50vh;
    margin-top: 80px;
}

.aplikace{
    display: none;
}

.controls{
    display: none;
}
.header_slider{
    min-height: 0px;
}
/*
***                                                      APLIKACE small device
*/
.section2_small_device{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}
.wrapper_sm{
    text-align: center;
}
.wrapper_sm span{
    color: #BDDE00;
}
.wrapper_sm h2{
    font-size: 40px;
}
.wrapper_sm h3{
    font-size: 20px;
}
.wrapper_sm p{
    font-size: 18px;
}
.sm1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sm2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sm3{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*
***                                                     spoluprace SECTION 1
*/
.section1.header_background_foto_spoluprace {
    margin-top: 80px;
}
/*
***                                                     spoluprace SECTION 2
*/

/*
***                                                     spoluprace SECTION 3
*/


}


@media only screen and (max-width:700px){
.item_wrapper {
    width: 55%;
    min-width: 280px;
}
}

@media only screen and (max-width:660px){
.wrapper_jste {
    flex-direction: column;
    align-items: center;
    }
.item_jste_text1{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}
.wrapper_jste p {
margin-top: 30px;
}
.item_jste_text2{
    width: 100%;
}

}

@media only screen and (max-width:600px){

.header_green_line {
    width: 100px;
    height: 8px;
}
.section1.header_background_foto_index {
    min-height: 40vh;
}
.header_foreground_text {
    min-height: 40vh;
}
.header_foreground_text h1 {
    font-size: 55px;
    line-height: 65px;
}
.header_button {
    margin-left: 15%;
    width: 256px;
    height: 58px;
    background: #BDDE00;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

}
@media only screen and (max-width:450px){
.wrapper_green_line_h1 {
    margin-left: 5%;
}
.header_green_line {
    width: 100px;
    height: 8px;
}
.section1.header_background_foto_index {
    min-height: 35vh;
}
.header_foreground_text {
    min-height: 35vh;
}
.header_foreground_text h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 50px;
}
.header_button {
    margin-left: 5%;
    width: 256px;
    height: 58px;
    background: #BDDE00;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

}